[AUTHOR]
NAME=Spotpreis Tibber Plugin Authors
EMAIL=spotpreistibber@users.noreply.github.com

[PLUGIN]
VERSION=0.9.6
NAME=spotpreistibber
FOLDER=spotpreistibber
TITLE=Spotpreis Tibber

[AUTOUPDATE]
# Selbstaktualisierung ueber das EIGENE Repository. Adressen NIE auf ein
# fremdes Repository richten - LoxBerry vergleicht Fassungen als Zahl, und ein
# fremdes 2021.05.14 waere groesser als 1.0.0. Daraus wuerde ein stilles
# Downgrade (belegt am Docker-Plugin).
AUTOMATIC_UPDATES=true
RELEASECFG=https://raw.githubusercontent.com/timanders22/LoxBerry-Plugin-Spotpreis-Tibber/master/release.cfg
PRERELEASECFG=https://raw.githubusercontent.com/timanders22/LoxBerry-Plugin-Spotpreis-Tibber/master/prerelease.cfg

[SYSTEM]
INTERFACE=2.0
REBOOT=false
# Ab LoxBerry 3 ist das MQTT-Gateway Systembestandteil. Damit entfaellt jede
# Fallunterscheidung im Code.
LB_MINIMUM=3.0.0
# LB_MAXIMUM bricht die Installation ab, nicht nur mit einer Warnung. Ohne
# belegten Grund fuer eine Obergrenze steht hier false.
LB_MAXIMUM=false
ARCHITECTURE=false
